#form {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 8;
}

#visible-block {
	height: 180px;
}

#white-block {
	position: fixed;
	top: 180px;
	left: 10px;
	width: 100%;
	height: 250px;
	z-index: 9;
	background-color: white;
}
